/*
Theme Name: AMK Primer Tema
Theme URI: http://franciscoamk.com
Author: Francisco Aguilera G. (@FranciscoAMK)
Author URI: http://franciscoamk.com/
Description: Tema de WordPress creado con propósitos educativos. Porque toda persona tiene derecho a aprender WordPress.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: 
Text Domain: amk
*/


body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;	
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 20px;
}

a {
	color: #80ca26;
}

img {
	max-width: 100%;
	height: auto;
}

code {
	white-space: normal;
}




/************ HEADER ************/
#main-header {
	padding-top: 40px;
	padding-bottom: 20px;
}

	#main-header h1 {
		margin: 0;
		font-size: 20px;
	}
	
		#main-header h1 small {
			margin: 0;
			font-size: 15px;
			color: #999;
		}

	
	#main-header hr {
		margin-top: 40px;
	}
	
	#main-header nav {
		text-align: right;
	}
		#main-header nav ul li {
			
		} 
			#main-header nav ul li ul {
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
				filter: alpha(opacity=0);
				opacity: 0;
				
				visibility: hidden;
				
				-webkit-transition: all 0.2s linear;
				-moz-transition: all 0.2s linear;
				-o-transition: all 0.2s linear;
				-ms-transition: all 0.2s linear;
				transition: all 0.2s linear;
				
				position: absolute;
				z-index: 1;
				left: 0;
				top: 40px;
				width: 200px;
				background: #f4f4f4;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				margin: 0;
				padding: 0;
			} 
			#main-header nav ul li:hover ul {
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				filter: alpha(opacity=100);
				opacity: 1;
				
				visibility: visible;
			}  
				#main-header nav ul ul li {
					margin: 0;
					padding: 0;
					list-style: none;
					text-align: left;
				}
					#main-header nav ul ul li a {
						padding: 10px 15px;
						display: block;
					}



/************ ALGUNOS ESTILOS EXTRA ************/
.sticky {
	background: #fffde8;
	padding: 15px;
}

.meta {
	font-size: 0.8em;
	margin-bottom: 15px;
}

.paginacion {
	margin-top: 40px;
	border-top: solid 1px #eee;
	padding-top: 10px;
}

.widget {
	margin-bottom: 40px;
}


/************ COMENTARIOS ************/

#comments-list {
	padding-left: 0;
	list-style: none;
}
	#comments-list .comment-body {
		background: #f2f2f2;
		padding: 15px;
		margin-bottom: 10px;
	}
	
	#comments-list .comment-author {
		margin-bottom: 15px;
	}
	
	#comments-list .comment-meta {
		font-size: 0.8em;
		margin-bottom: 10px;
	}
	
	#comments-list .children {
		list-style: none;
	}
	
	#comments-list .bypostauthor .comment-body {
		background: #e3e3e3;
	}

#commentform {
	
}

	#commentform input[type="text"],
	#commentform input[type="email"],
	#commentform textarea {
		width: 100%;
	}



/************ WORDPRESS CORE ************/
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.gallery-caption {
	font-size: 0.8em;
}